:root {
  --blue: rgb(26, 57, 87);
  --white: rgb(236, 236, 236);
}

body {
  font-family: "Ubuntu", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light {
  --background-color: var(--white);
}

body.dark {
  --background-color: var(--blue);
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
  transition: background-color 0.4s ease-in-out, color 0.6s ease-in-out;
}

body.light .hero-container {
  --background-color: #ddeded;
}

body.dark .hero-container {
  --background-color: var(--blue);
}

.about-description-logo {
  height: 130px;
  width: 130px;
  margin-top: 80px;
}

.about-title {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  font-size: 120px;
  font-weight: 400;
  font-family: "Lemon Jelly Personal Use", sans-serif;
}

body.light .about-title {
  color: #0c6baa;
}

body.dark .about-title {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0c6baa,
    0 0 82px #0c6baa, 0 0 92px #0c6baa, 0 0 102px #0c6baa, 0 0 151px #0c6baa;
  animation: pulsate 0.11s ease-in-out infinite alternate;
  transition: text-color 0.6s ease-in-out, color 0.6s ease-in-out;
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0c6baa,
      0 0 80px #0c6baa, 0 0 90px #0c6baa, 0 0 100px #0c6baa, 0 0 150px #0c6baa;
  }

  0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #0c6baa,
      0 0 73px #0c6baa, 0 0 80px #0c6baa, 0 0 94px #0c6baa, 0 0 140px #0c6baa;
  }
}

.about-profession {
  font-size: 25px;
  font-weight: 400;
  margin: 10px;
}

body.light .about-profession {
  color: #0c6baa;
}

body.dark .about-profession {
  color: white;
}

.hero-image {
  margin-top: 30px;
  width: 75%;
  transition: content 0.3s ease-in-out, color 0.6s ease-in-out;
  content: var(--image);
}

body.light .hero-image {
  --image: url("./city-hero-image.jpg");
}

body.dark .hero-image {
  --image: url("./city-night.png");
}

.about-paragraph-title {
  margin: 12px 0 5px 0;
}

.about-paragraph {
  margin-bottom: 5px;
}

.about-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 122.2px;
}

.about-bio {
  width: 40%;
}

.about-info {
  width: 60%;
}

.about-Work-details {
  margin-top: 100px;
}

@media screen and (max-width: 540px) {
  .about-title {
    font-size: 100px;
    margin-top: 55px;
  }
  .hero-image {
    width: 100%;
    margin-top: 95px;
  }

  .about-profession {
    margin: -10px;
  }

  .about-bio {
    width: 60%;
  }
}

@media screen and (max-width: 414px) {
  .about-title {
    font-size: 100px;
    margin-top: 20px;
  }
  .hero-image {
    width: 100%;
    margin-top: 205px;
  }

  .about-profession {
    margin: -10px;
  }
  .about-bio {
    width: 70%;
  }
  .about-info {
    width: 71%;
  }
  .about-paragraph-title {
    width: 46%;
  }
}

@media screen and (max-width: 414px) {
  .about-title {
    font-size: 100px;
    margin-top: 20px;
  }
  .hero-image {
    width: 100%;
    margin-top: 205px;
  }

  .about-profession {
    margin: -10px;
  }
  .about-bio {
    width: 70%;
  }
  .about-info {
    width: 71%;
  }
  .about-paragraph-title {
    width: 46%;
  }
}

@media screen and (max-width: 411px) {
  .about-title {
    font-size: 100px;
    margin-top: 55px;
  }
  .hero-image {
    width: 100%;
    margin-top: 155px;
  }

  .about-profession {
    margin: -10px;
  }

  .about-bio {
    width: 70%;
  }
}

@media screen and (max-width: 375px) {
  .about-title {
    font-size: 100px;
    margin-top: 6px;
  }
  .hero-image {
    width: 100%;
    margin-top: 170px;
  }

  .about-profession {
    margin: -10px;
  }
  .about-description-logo {
    margin-top: 80px;
  }

  .about-bio {
    width: 80%;
  }
  .about-info {
    width: 80%;
    text-justify: inter-word;
  }
  .about-paragraph-title {
    width: 50%;
  }

  .about-description-logo {
    margin-top: 100px;
  }
}

@media screen and (max-width: 360px) {
  .about-title {
    font-size: 100px;
    margin-top: -36px;
  }
  .hero-image {
    width: 100%;
    margin-top: 175px;
  }

  .about-profession {
    margin: -10px;
  }
}

@media screen and (max-width: 320px) {
  .about-title {
    font-size: 100px;
    margin-top: -36px;
  }
  .hero-image {
    width: 100%;
    margin-top: 137px;
  }

  .about-profession {
    margin: -10px;
  }
  .about-paragraph-title {
    width: 58%;
  }
}

@media screen and (max-width: 280px) {
  .about-title {
    font-size: 100px;
    margin-top: 2px;
  }
  .hero-image {
    width: 100%;
    margin-top: 180px;
  }

  .about-profession {
    margin: -10px;
  }

  .about-paragraph-title {
    width: 67%;
  }
}
