.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 122px;
  background: #ddeded;
  object-fit: contain;
}

.emojis {
  font-size: 2rem;
  line-height: 1.2em;
  margin: 5px 0;
}

.about-description-logo {
  height: 130px;
  width: 130px;
  margin-top: 80px;
}

.about-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  color: #0c6baa;
  font-size: 120px;
  font-weight: 400;
  font-family: "Lemon Jelly Personal Use", sans-serif;
}

.about-profession {
  color: #0a69a8;
  font-size: 25px;
  font-weight: 400;
  margin: 10px;
}

.hero-image {
  width: 75%;
  margin-top: 30px;
}

.about-paragraph-title {
  margin: 12px 0 5px 0;
}

.about-paragraph {
  margin-bottom: 5px;
}

.about-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 122.2px;
}

.about-bio {
  width: 40%;
}

.about-info {
  width: 60%;
}

.about-help {
  margin: 100px 0 5px 0;
}

.about-Work-details {
  margin-top: 100px;
}

.about-work-together {
  width: 80%;
  text-align: center;
  margin-bottom: 5px;
}

.about-contacting {
  width: 60%;
}

@media screen and (max-width: 540px) {
  .about-title {
    font-size: 100px;
    margin-top: 55px;
  }
  .hero-image {
    width: 100%;
    margin-top: 95px;
  }

  .about-profession {
    margin: -10px;
  }

  .about-bio {
    width: 60%;
  }
}

@media screen and (max-width: 414px) {
  .about-title {
    font-size: 100px;
    margin-top: 20px;
  }
  .hero-image {
    width: 100%;
    margin-top: 205px;
  }

  .about-profession {
    margin: -10px;
  }
  .about-bio {
    width: 70%;
  }
  .about-info {
    width: 71%;
  }
  .about-paragraph-title {
    width: 46%;
  }
}

@media screen and (max-width: 414px) {
  .about-title {
    font-size: 100px;
    margin-top: 20px;
  }
  .hero-image {
    width: 100%;
    margin-top: 205px;
  }

  .about-profession {
    margin: -10px;
  }
  .about-bio {
    width: 70%;
  }
  .about-info {
    width: 71%;
  }
  .about-paragraph-title {
    width: 46%;
  }
}

@media screen and (max-width: 411px) {
  .about-title {
    font-size: 100px;
    margin-top: 55px;
  }
  .hero-image {
    width: 100%;
    margin-top: 155px;
  }

  .about-profession {
    margin: -10px;
  }

  .about-bio {
    width: 70%;
  }
}

@media screen and (max-width: 375px) {
  .about-title {
    font-size: 100px;
    margin-top: 6px;
  }
  .hero-image {
    width: 100%;
    margin-top: 170px;
  }

  .about-profession {
    margin: -10px;
  }
  .about-description-logo {
    margin-top: 80px;
  }

  .about-bio {
    width: 80%;
  }
  .about-info {
    width: 80%;
    text-justify: inter-word;
  }
  .about-contacting {
    width: 80%;
  }
  .about-paragraph-title {
    width: 50%;
  }

  .about-description-logo {
    margin-top: 100px;
  }
}

@media screen and (max-width: 360px) {
  .about-title {
    font-size: 100px;
    margin-top: -36px;
  }
  .hero-image {
    width: 100%;
    margin-top: 175px;
  }

  .about-profession {
    margin: -10px;
  }
}

@media screen and (max-width: 320px) {
  .about-title {
    font-size: 100px;
    margin-top: -36px;
  }
  .hero-image {
    width: 100%;
    margin-top: 137px;
  }

  .about-profession {
    margin: -10px;
  }
  .about-paragraph-title {
    width: 58%;
  }
}

@media screen and (max-width: 280px) {
  .about-title {
    font-size: 100px;
    margin-top: 2px;
  }
  .hero-image {
    width: 100%;
    margin-top: 180px;
  }

  .about-profession {
    margin: -10px;
  }

  .about-paragraph-title {
    width: 67%;
  }
}
