.project-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.work-cardImage {
  width: 1000px;
  padding: 0px 40px 0px 40px;
  max-width: 100%;
  margin-top: 90px;
}

.project-title {
  margin-top: 60px;
  color: #276791;
  font-size: 60.8px;
  font-weight: 400;
}

.project-description {
  color: #545454;
  font-size: 25px;
  font-family: adobe-garamond-pro, serif;
  font-weight: 300;
  font-style: normal;
  margin-top: 1.5%;
}

@media screen and (max-width: 414px) {
  .project-title {
    font-size: 28px;
  }
}
