.work-section {
  background: #ddeded;
}

.page-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 23.6375rem;
}

.work-title {
  padding-top: 5.625rem;
  margin-bottom: 3.75rem;
  color: #0c6baa;
  font-size: 6.8rem;
  font-weight: 400;
  font-family: 'Lemon Jelly Personal Use', sans-serif;
  text-align: center;
}

.work-logo {
  height: 175px;
  width: 175px;
  margin-top: 100px;
}

/* Project card styles */

.project-card-variant-one {
  padding: 80px;
  background: linear-gradient(
      338.83deg,
      #8ea5ac -3.41%,
      rgba(255, 196, 255, 0) 52.31%
    ),
    #ddeddd;
  flex: 0 0 90%;
  margin-top: 5%;
  border-radius: 20px;
  position: relative;
  display: block;
  transition: all 0.4s ease-in-out;
  padding: 16px 48px 64px;
}

.project-card-variant-two {
  padding: 80px;
  background: linear-gradient(
      338.83deg,
      #dde5ed -3.41%,
      rgba(255, 196, 255, 0) 52.31%
    ),
    #eddddd;

  flex: 0 0 90%;
  margin-top: 5%;
  border-radius: 20px;
  position: relative;
  display: block;
  transition: all 0.4s ease-in-out;
  padding: 16px 48px 64px;
}

.project-card-variant-three {
  padding: 80px;
  background: linear-gradient(
      338.83deg,
      #eddddd -3.41%,
      rgba(255, 196, 255, 0) 52.31%
    ),
    #ddeddd;
  flex: 0 0 90%;
  margin-top: 5%;
  border-radius: 20px;
  position: relative;
  display: block;
  transition: all 0.4s ease-in-out;
  padding: 16px 48px 64px;
}

.project-card-variant-four {
  padding: 80px;
  background: linear-gradient(
      338.83deg,
      #d3bd97 -3.41%,
      rgba(255, 196, 255, 0) 52.31%
    ),
    #ddeddd;
  flex: 0 0 90%;
  margin-top: 5%;
  border-radius: 20px;
  position: relative;
  display: block;
  transition: all 0.4s ease-in-out;
  padding: 16px 48px 64px;
}

@media screen and (max-width: 414px) {
  .page-description {
    min-height: 606px;
  }
  .work-logo {
    margin: 32px 0 50px 0;
  }
  .work-title {
    margin-bottom: 204px;
  }
  .work-cardImage {
    padding: 0 18px;
    margin-top: 30px;
  }
  .project-card-variant-one,
  .project-card-variant-two {
    padding: 16px 0px 30px;
  }
  .project-card-variant-three,
  .project-card-variant-four {
    padding: 16px 0px 30px;
  }
}

@media screen and (max-width: 375px) {
  .page-description {
    min-height: 554.2px;
  }
  .work-title {
    margin-bottom: 270px;
  }

  .work-logo {
    margin: 10px 0 50px 0;
  }
  .about-help {
    margin: 80px 0 5px 0;
  }
  .work-cardImage {
    padding: 0 18px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 320px) {
  .project-card {
    padding: 0em 2em 2em;
  }
}

@media only screen and (max-width: 375px) {
  .page-description {
    min-height: 690px;
  }
  .work-title {
    margin-bottom: 470px;
  }
}
