.contact-logo {
  height: 175px;
  width: 175px;
  margin-top: 100px;
}

.contact-email {
  margin-top: 60px;
  width: 60%;
  text-align: center;
}

.about-contacting {
  /* margin-bottom: 60px; */
}

@media screen and (max-width: 375px) {
  .work-title {
    margin-bottom: 270px;
  }
  .work-cardImage {
    width: 170%;
  }
  .work-logo {
    margin: 50px 0 50px 0;
  }
  .about-help {
    margin: 80px 0 5px 0;
  }
}
