.form-container {
  width: 500px;
  margin-top: 50px;
  padding: 10px;
  border: 1px solid #ddeded;
  background: #ddeded;
  border-radius: 4px;
}

.form-submit {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  outline: none;
}

input {
  background: white;
}

.form-button {
  background: #66b8cc;
  color: white;
  cursor: pointer;
  margin: 10px 0 10px 0;
  height: 40px;
  border-radius: 4px;
  font-size: 22px;
  border: none;
  outline: none;
}

@media screen and (max-width: 414px) {
  .form-container {
    width: 360px;
  }
}
