.form-success-body {
  height: 100vh;
  background-color: #ddeded;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 600px;
  margin-top: 20px 0 20px 0;
  padding: 10px;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.success-character {
  width: 350px;
}

.success-button {
  width: 320px;
  height: 50px;
  border-radius: 4px;
  background-color: #66b8cc;
  font-size: 40px;
  color: #000;
  outline: none;
  border: none;
  cursor: pointer;
}
.success-button:hover {
  color: white;
}

.success-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  color: blue;
}

a.menu_links {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .form-success-container {
    height: 60%;
    width: 70%;
  }
}

@media screen and (max-width: 540px) {
  .form-success-container {
    height: 70%;
    width: 80%;
  }
}

@media screen and (max-width: 414px) {
  .form-success-container {
    height: 75%;
    width: 90%;
  }
  .success-character {
    width: 280px;
  }
}

@media screen and (max-width: 375px) {
  .form-success-container {
    height: 75%;
    width: 90%;
  }
  .success-character {
    width: 270px;
  }
  .success-button {
    height: 50px;
    width: 250px;
  }
}

@media screen and (max-width: 320px) {
  .form-success-container {
    height: 73%;
    width: 93%;
  }

  .success-character {
    width: 240px;
  }
  .success-button {
    font-size: 30px;
    width: 220px;
  }
  .success-message {
    font-size: 25px;
    color: blue;
  }
}
